
<div class="col-xs-12" id="footerSubmission">

  <div class="col-xs-12" id="footerResources">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-10">
        <div class="row center-xs">
          <a target="_blank" href="https://roa.org/page/LawCenter " class="col-xs-12 col-sm-6">Helpful Information on Servicemember Rights</a>
          <a href="{{ site.url }}/assets/documents/documents.zip" download class="col-xs-12 col-sm-6">Download Documents</a>
        </div>
      </div>
    </div>
  </div>


  <div id="footerCopyright">
    &copy; Renne Law Group | 2020 All Rights Reserved
  </div>
</div>