
<div class="col-xs-12" id="footerSubmission">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1" id="footerHelpOut">
      <h2>Are you a victim?</h2>
      <p>If you were a federal civilian employee and volunteered to serve on active duty in support of a contingency operation
      after 1 January 2009, let us know by clicking the below button and filling out a few details of your
      situation so we can provide you more information.</p>

      <a target="_blank" href="{{ site.form_url }}" class="btn btn--large">Submit an Appeal</a>
    </div>
  </div>

  <div class="col-xs-12" id="footerResources">
    <div class="row center-xs">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="row center-xs">
          <a target="_blank" href="https://roa.org/page/LawCenter " class="col-xs-12 col-sm-6">More Information</a>
          <a href="{{ site.url }}/assets/documents/documents.zip" download class="col-xs-12 col-sm-6">Download Documents</a>
        </div>
      </div>
    </div>
  </div>


  <div id="footerCopyright">
    &copy; Renne Law Group | 2020 All Rights Reserved
  </div>
</div>