
<header class="site-head row">

  <nav class="site-head__nav col-xs-10 col-xs-offset-1">
    <span class="site-head__nav__brand">Renne Law Group</span>

    <div class="site-head__nav__list">
      <a href="{{ site.url }}#home" class="site-head__nav__list__item">Home</a>
      <a href="{{ site.url }}#mission" class="site-head__nav__list__item">Our Mission</a>
      <a href="{{ site.url }}#moreInfo" class="site-head__nav__list__item">More Information</a>
      <a href="{{ site.url }}#blog" class="site-head__nav__list__item">Blog</a>

      <a target="_blank" href="{{ site.form_url }}" class="site-head__nav__list__item btn btn--primary">Help Us</a>
    </div>
  </nav>

</header>