---
---

/**
 * CONTENTS
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * IMPORTS
 *
 * BASE
 * Resets...............Basic CSS resets for friendlier compatibility
 * Typography...........Site-wide headings, paragraphs, fonts, etc.
 *
 * COMPONENTS
 *
 * PAGES
 *
 * HELPERS
 *
 * RESPONSIVE STYLING
 *
 */

/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/

// Color Configuration
$primary:   #81766f;
$secondary: #ffffff;

$darker: mix(black, $primary, 3%);
$darkest: mix(black, $primary, 15%);

$bg-color: lighten($primary, 25%);

// Typography
$base-font: Roboto, sans-serif;
$header-font: $base-font;

$base-font-weight: 500;
$header-font-weight: 700;

$base-font-size: 14px;
$h1-font-size: $base-font-size * 2.5;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Transitions
$transition-quick: all 180ms ease;
$transition-smooth: all 300ms cubic-bezier(0.77, 0, 0.175, 1);


/*------------------------------------*\
  #IMPORTS
\*------------------------------------*/

@import "./flexboxgrid.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');


/*------------------------------------*\
  #BASE
\*------------------------------------*/

// Layout
* {box-sizing: border-box;}

.row {
  max-width: 100%;
}

html,body {
  margin:0;
  position: relative;
  min-height: 100vh;
  background-color: $bg-color;
  scroll-behavior: smooth;
  z-index: 0;
}
.site-main {
  position: relative;
  overflow: auto;
}
.site-section{
  z-index: 10;
  padding-top: 3em;
  padding-bottom: 3em;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

// Typography
html,body {
  font-family: $base-font;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  color: black;
  line-height: 1.8;
}
h1 {font-size: $h1-font-size}
h2 {font-size: $h2-font-size}
h3 {font-size: $h3-font-size}
h4 {font-size: $h4-font-size}
h5 {font-size: $h5-font-size}
h6 {font-size: $h6-font-size}
a {
  font: inherit;
  color: inherit;
  transition: $transition-quick;
}


/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

// Button
.btn {
  display: inline-flex;
  padding: 0.4em 0.9em;
  margin: 0.5em 0.25em;
  border-radius: 10px;
  background-color: white;
  color: black;
  text-decoration: none;
  transition: $transition-quick;
  border: 3px solid transparent;

  &:hover:not(.btn--social) {
    border-color: rgba(black,0.25);
    background-color: darken(white,10%);
  }
  &:active {transform: scale(0.98);}

  &--primary {
    background-color: $primary;
    color: white;
    &:hover {
      background-color: darken($primary, 5%)!important;
    }
  }
  &--transparent {
    background-color: transparent;
    color: white;
  }
  &--rounded {border-radius: 100px}
  &--large {
    padding: 0.7em 1.5em;
    font-size: calc(16px * 1.2);
  }
  &--social {
    padding: 0.5em;
    svg {
      fill: white;
      width: 2em;
      height: 2em;
    }
    &:hover {
      transform: scale(1.05);
    }
  }
}

// Hero
.site-hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
  color: white;

  // Image
  background-image: url(../img/soldier-1.jpeg);
  background-position: center 35%;
  background-size: cover;
  height: 90vh;
  min-height: 500px;
  max-height: 1000px;
  z-index: 0;

  &__content {
    width: 65vw;
    max-width: 1000px;
    min-width: 300px;
    text-align: center;

    &__cta {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  &::before {
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: $bg-color;
    z-index: 1;
    transform: skewY(-3.5deg);
    transform-origin: 100% 0;;
  }
}

// Navbar
.site-head {
  position: absolute;
  display: block;
  width: 100%;
  margin: 0;
  background-color: rgba(black,0.5);
  z-index: 20;
  color: white;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 0;

    &__brand,&__list__item:not(.btn) {
      padding: 0.5em 0;
      text-decoration: none;
    }
    &__list {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    &__list__item:not(.btn) {
      position: relative;
      text-decoration: none;
      margin: 0 0.5em;

      &::before {
        position: absolute;
        display: block;
        content: "";
        top: 100%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: white;
        transform: scaleX(0);
        transform-origin: left;
        transition: $transition-smooth;
      }
      &:hover::before {
        transform: scaleX(1);
      }
    }
    .btn {
      margin-left: 1em;
    }
  }
}

// Blog Section
.blog-section {
  background-color: $darker;
  text-align: center;
  color: white;

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    &__item {
      position: relative;
      width: 30%;
      padding: 3em 1em;
      margin: 1%;

      text-align: left;
      border-radius: 10px;
      border: 2px solid transparent;
      background-color: lighten($darker, 5%);
      box-shadow: 0px 10px 25px rgba(black,0.1);
      text-decoration: none;
      transition: all 200ms ease;

      &:hover {
        transform: translateY(-10px);
        box-shadow: 0px 35px 35px rgba(black,0.2);
      }
      &:active {
        transform: translateY(-5px);
        box-shadow: 0px 30px 30px rgba(black,0.17);
      }

      h4 {margin: 0;}
      span {opacity: 0.5}
    }
  }
}
.blog-container {
  margin-top: 100px;
  padding-bottom: 3em;
}
.no-posts {
  width: 100%;
  display: block;
  text-align: center;

  padding: 2em;
  border: 2px solid rgba(white,0.35);
  border-radius: 15px;

  p {
    opacity: 0.5;
  }
}

// 404 Page
.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  min-height:  400px;

  h1 {
    font-size: 2rem;
    margin: 0;
  }
}

// Footer
#footerSubmission {
  padding: 0;
  margin:0;
  background-color: $darkest;
  color: white;
  text-align: center;
}
#footerResources {
  width: 100%;
  color: white;
  background-color: rgba(black,0.1);
  align-items: center;

  a {
    padding: 2em;
    text-decoration: none;
    align-self: center;

    &:hover {
      background-color: $darkest;
    }
  }
}
#footerHelpOut {
  padding: 3em 1em;
}
#footerCopyright {
  padding: 1em;
  background-color: $bg-color;
  color: black;
}

/*------------------------------------*\
  #PAGES
\*------------------------------------*/



/*------------------------------------*\
  #HELPERS
\*------------------------------------*/
.w-100 {
  width: 100%;
}
.img-container {
  display: flex;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: #fff;

  &::before {
    content: "";
    padding-top: 100%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      min-width: 100%;
      height: 100%;
    }
  }

}


/*------------------------------------*\
  #RESPONSIVE STYLING
\*------------------------------------*/

@media screen and (max-width: 848px) {
  .site-head__nav__list__item:not(.btn) {
    display: none;
  }

  .blog-section__container__item {
    width: 48%;
  }
}

@media screen and (max-width: 767px) {
  html,body {
    font-size: 1.05rem;
  }

  .site-hero {margin-bottom: 1em}
  .site-section:first-child {padding-top: 0}

  .img-container {
    width: 100%;
    height: 400px;
    min-height: 100px;
    &__img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        min-width: 100%;
        height: auto;
        min-height: 100%;
        //transform: translateY(-35%);
      }
    }

    &::before {
      display: none;
      padding: 0;
    }
  }
  .blog-section__container__item {
    width: 100%;
  }
}